.panel-grid.panel-no-style,
.panel-grid.panel-has-style > .panel-row-style {
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.panel-layout.panel-is-rtl .panel-grid.panel-no-style,
.panel-layout.panel-is-rtl .panel-grid.panel-has-style > .panel-row-style {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-grid-cell .panel-cell-style {
  height: 100%;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.panel-grid-cell .so-panel:before {
  content: '';
  display: block;
}
.panel-grid-cell .so-panel:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell .panel-last-child {
  margin-bottom: 0;
}
.panel-grid-cell .widget-title {
  margin-top: 0;
}
body.siteorigin-panels-before-js {
  overflow-x: hidden;
}
body.siteorigin-panels-before-js .siteorigin-panels-stretch {
  margin-right: -1000px !important;
  margin-left: -1000px !important;
  padding-right: 1000px !important;
  padding-left: 1000px !important;
}

/*
     FILE ARCHIVED ON 10:16:43 Jun 03, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:26:17 Feb 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 126.42 (3)
  esindex: 0.007
  captures_list: 143.788
  CDXLines.iter: 10.195 (3)
  PetaboxLoader3.datanode: 515.557 (5)
  exclusion.robots: 0.147
  exclusion.robots.policy: 0.134
  RedisCDXSource: 4.643
  PetaboxLoader3.resolve: 117.428 (2)
  load_resource: 583.287
*/